* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
}

h1 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #007BFF;
}

.search-box {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

#campoPesquisa {
    padding: 10px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

#botaoPesquisar {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

#botaoPesquisar:hover {
    background-color: #0056b3;
}

.resultado {
    margin-top: 20px;
    text-align: left;
}

.resultado h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #007BFF;
}

.resultado img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.resultado p {
    margin-bottom: 5px;
    font-size: 1em;
    line-height: 1.5;
}